/* Custom Stylesheet */
/**
 * Use este estilo para adicionar o materialize-design-icons offline
 *
 * Made By Fransuwar
 */
 @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(../font/material-icons-regular/MaterialIcons-Regular.eot); /* Para IE6-8 */
   src:
        url(../font/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(../font/material-icons/MaterialIcons-Regular.woff) format('woff'),
        url(../font/material-icons/MaterialIcons-Regular.ttf) format('truetype');
 }

 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Tamanhão padrão que será adotado para icon */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;

   /* Support para tods os navegadores WebKit. */
   -webkit-font-smoothing: antialiased;
   /* Support para Safari e Chrome. */
   text-rendering: optimizeLegibility;

   /* Support para Firefox. */
   -moz-osx-font-smoothing: grayscale;

   /* Support para IE. */
   font-feature-settings: 'liga';
 }
