div.col.s12
  div.icon-block
    h2.center.blue-text
      i.fa.fa-university(aria-hidden="true")
    h5.center.blue-text Sobre Nós
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula malesuada sodales. Aenean suscipit fermentum orci, eget vestibulum erat condimentum quis. Suspendisse lorem diam, vehicula sit amet sagittis vel, vehicula sed velit.
    p Phasellus iaculis metus mauris. Phasellus euismod ultrices tellus eget faucibus. Ut eget diam scelerisque, consequat risus et, pretium mauris. Morbi lobortis leo vitae felis tincidunt, non molestie sem rutrum. Ut sed bibendum ligula. Quisque congue ex nec ornare malesuada. Nunc cursus, mauris a maximus viverra, lorem nisl faucibus quam, id faucibus metus nisi lacinia nibh. 
