footer.page-footer.blue.darken-1
  div.container.white-text
    div.row
      div.col.l6.s12
        h5 Programação nas Escolas
        p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula malesuada sodales. Aenean suscipit fermentum orci, eget vestibulum erat condimentum quis. Suspendisse lorem diam, vehicula sit amet sagittis vel, vehicula sed velit.
      
      div.col.l6.s12
        h5 Contato
        ul
          li Endereço: Rua X, 16
          li CEP: 63900-000
          li Telefone: (88) 12345-6789
          li Email: programacaonasescolas.quixada@gmail.com
          
  div.footer-copyright
    div.container
      p @ Criado por Françoes da Silva Pereira
