div.col.s12
  ul.collapsible(data-collapsible="accordion")
    li
      div.collapsible-header
        i.material-icons library_books
        p Capitulo 1 - Introdção
      div.collapsible-body
        include indice_apostila_scratch_capitulo_1
    li
      div.collapsible-header
        i.material-icons library_books
        p Capitulo 2 - Tela Principal
      div.collapsible-body
        include indice_apostila_scratch_capitulo_2.jade
        
    li
      div.collapsible-header
        i.material-icons library_books
        p Capitulo 3 - Controles de Fluxo de Comando
      div.collapsible-body
        include indice_apostila_scratch_capitulo_3.jade
        
    li
      div.collapsible-header
        i.material-icons library_books
        p Capitulo 4 - Exemplos Práticos
      div.collapsible-body
        include indice_apostila_scratch_capitulo_4.jade
        
    li
      div.collapsible-header
        i.material-icons library_books
        p Capitulo 5 - Bibliografia
      div.collapsible-body
        p Bibliográfia...
