div.container
  p O Scratch é uma ferramenta de apoio ao entendimento da lógica em linguagens de programação, os alunos podem aprender ideias matemáticas e de computação que estão integradas na experiência Scratch. 
    a(href="#") Veja mais...
