div.container
  ul
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.1 - Barra de Ferramentas
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.2 - Área Seleção e Criação
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.3 - Abas de Ações
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.4 - Área de edição e conexão de script
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.5 - Simulador da Animação
    li
      a(href="#").black-text
        i.fa.fa-book(aria-hidden="true")  Capitulo 2.6 - Botões para editar o objeto no palco
