div.navbar-fixed
  nav.blue.darken-1(role="navigation")
    div.nav-wrapper.container
      a.brand-logo#logo-container(href="index.html")
        img(src="imgs/logo-white.png", alt="PREX", width="100px")
      block conteudo
