extends nav_base.jade
block conteudo  
  ul.right.hide-on-med-and-down
    li
      a(href="apostila_scratch.html")
        i.fa.fa-book(aria-hidden="true")  Apostila Scratch
      
  ul.side-nav#nav-mobile
    li
    a(href="home.html")
      i.fa.fa-book(aria-hidden="true")  Apostila Scratch

  a.button-collapse(href="#" data-activates="nav-mobile")
    i.material-icons menu
    
