//output:apostila_scratch.html, pretty:true
extends base.jade
block topo
  include jade_componentes/nav_apostila_scratch.jade

block conteudo
  div.section.no-pad-bot#index-banner
    div.container
      div.row.center
        img(src="imgs/logo-scratch.png")
        
  div.container
    div.section
      div.row
        include jade_componentes/indice_apostila_scratch.jade
