doctype html
html
  include jade_componentes/head.jade
  
  body
    block topo
    
    div.container.page
      br
      block conteudo
    
    include jade_componentes/footer.jade
    include jade_componentes/script.jade
    
